


<ion-tabs>
    <ion-tab [root]="welcomeRoot" tabTitle="Welcome" tabIcon="home"></ion-tab>
    <ion-tab [root]="restaurantRoot" tabTitle="Restaurant" tabIcon="map"></ion-tab>
    <ion-tab [root]="pharmacieRoot" tabTitle="Pharmacie" tabIcon="search"></ion-tab>
    <ion-tab [root]="medecinRoot" tabTitle="Medecin" tabIcon="medical"></ion-tab>
    <ion-tab [root]="hotelRoot" tabTitle="Hotel" tabIcon="navigate"></ion-tab>
</ion-tabs>
