<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <img alt="logo" height="40"  src="../../assets/imgs/ll.png" > 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list  class="center">
    <ion-title> Biboo </ion-title>

    
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="Repeat-password" [(ngModel)]="confirm_password" ></ion-input>
    </ion-item>
  
  <div class="name" padding>
    <button ion-button block  (click)="register_user()"> Register </button>
  </div> 
  
  
  </ion-list> 
    <ion-item >
       ID : {{result.id }}
    </ion-item>
    
    <ion-item>
      body : {{result.body }}
    </ion-item>
    
    <ion-item>
      title : {{result.title}}
    </ion-item>
  
</ion-content>
