<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->




<ion-content>
 
  <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">
 
    <ion-row>
      <ion-col>
        <img [@flyInBottomSlow]="logoState" src="../../assets/imgs/TRE-Altamira_logo.png" />

      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
        <ion-list inset [@bounceInBottom]="formState">
 
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>
 
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"  [(ngModel)]="password" ></ion-input>
          </ion-item>
 
        </ion-list>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="login()" [@fadeIn]="loginState">Login</button>
      </ion-col>
      <ion-col>
      <button ion-button  class="login-button"   (click)="go_register()"> Register </button>
      </ion-col>
    </ion-row>
 
  </div>
 
</ion-content>